.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 14px;

  min-width: 140px;
  padding: 14px 20px;

  text-decoration: none;

  font-family: var(--font-secondary);
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.12em;
  text-transform: uppercase;

  border: 1px solid transparent;

  transition:
    background-color 0.35s ease,
    color 0.35s ease,
    border-color 0.35s ease,
    transform 0.35s ease;
}

.arrow {
  display: inline-block;

  font-size: 14px;
  line-height: 1;

  transition:
    color 0.35s ease,
    transform 0.35s ease;
}

.button:hover .arrow {
  transform: translateX(5px);
}

.button:hover {
  transform: translateY(-2px);
}


/* =========================
   WHITE VARIANT
   ========================= */

.white {
  background: #ffffff;
  color: #000000;
  border-color: #ffffff;
  border: 1px solid transparent;
}

.white:hover {
  background: #000000;
  color: #ffffff;
  border-color: #000000;
  border: 1px solid #fff;
}


/* =========================
   BLACK VARIANT
   ========================= */

.black {
  background: #000000;
  color: #ffffff;
  border-color: #000000;
}

.black:hover {
  background: #ffffff;
  color: #000000;
  border-color: #ffffff;
  border: 1px solid #000;
}